.body-login {
  height: 100vh;
  background-color: var(--even-darker);
  display: flex;
  align-items: center;
  justify-content: center;
}

.h2-login {
  color: var(--normal);
  margin-bottom: 30px;
}

.login-container {
  width: 600px;
  height: fit-content;
  margin: 0 auto;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.login-container .h2-login {
  text-align: center;
}

.login-container .form-login {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.login-container .label-login {
  margin-bottom: 5px;
  color: #000; /* Noir pour les labels */
}

.login-container input[type="email"],
.login-container input[type="password"] {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.button-submit {
  margin-bottom: 20px;
}

.login-container .button-submit {
  padding: 10px 20px;
  background-color: var(--normal);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-container .button-submit:hover {
  background-color: var(--normal-hover);
}

.error-message {
  color: #dc3545;
  font-size: 0.8rem;
  margin-top: 5px;
}

.label-input-div {
  display: contents;
}

.input-login {
  color: #757575;
}
