.input-container {
  display: inline-grid;
}

.input-group {
  margin: 10px 0;
  display: inline-grid;
}

.input {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.submit-button {
  margin: 0;
  padding: 15px 20px;
  border: 1px solid var(--dark);
  border-radius: 12px;
  background-color: var(--dark);
  color: white;
  cursor: pointer;
}

.submit-button:hover {
  background-color: var(--dark-hover);
}