.navbar {
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    background-color: #fffdfa;
    color: #1f1f1f;
    padding: 10px 20px;
    z-index: 1000;
    display: flex;
}

.links {
    display: flex;
}
