.input-container-edit {
  display: inline-grid;
  width: 100%;
}
.trip-info {
  background-color: var(--light);
  border-radius: 8px;
  padding: 40px 20px;
  width: 100%;
  margin-bottom: 25px;
}

.trip-infos-div {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 20px;
}

.trip-dates {
  color: var(--dark);
}

.trip-info p {
  margin:10px 0;
}

.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #0056b3;
}

.trip-detail-title {
  color: var(--dark);
}

.no-data-message {
  font-style: italic;
}

.button-add {
  margin-top: 20px;
}

.button-edit {
  margin-right: 10px;
}

.cancel-button {
  margin: 0;
  padding: 15px 20px;
  border: 1px solid var(--dark);
  border-radius: 12px;
  background-color: transparent;
  color: var(--dark);
  cursor: pointer;
}

.cancel-button:hover {
  background-color: rgb(247, 247, 247);
}

.buttons-edit-div {
  display: inline-flex;
  gap: 10px;
}
