/* TripDashboard.css */

.trip-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.trip-item:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.trip-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
}

.trip-item p {
  margin: 5px 0;
}

.trip-item p:first-child {
  font-weight: bold;
}

.trip-destination {
  text-transform: uppercase;
  color: var(--normal);
  display: flex;
  gap: 5px;
  align-items: flex-start;
}
