@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('./assets/colors.css');

/* Titles, texts, and input texts*/
.title-xl {
  font-family: "Red Hat Display", sans-serif;
  font-size: 64px;
}

.title-l {
  font-family: "Red Hat Display", sans-serif;
  font-size: 48px;
}

.title-m {
  font-family: "Red Hat Display", sans-serif;
  font-size: 40px;
}

.title-s {
  font-family: "Red Hat Display", sans-serif;
  font-size: 32px;
}

.title-subtitle {
  font-family: "Red Hat Display", sans-serif;
  font-size: 24px;
}

.accent {
  font-weight: 700;
}

.body-l {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

.body-m {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

.body-s {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
}

.body-xs {
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px;
}

/*Buttons*/
button.primary {
  padding: 12px 16px;
  border-radius: 24px;
  background-color: #008a92;
  color: white;
  border: none;
  cursor: pointer;
}